body{
	background-image: url("images/log.jpg");
	/*background-position: center;*/
	background-size: cover; 
	color: white;
}
.gallery{
	color: white;
	border-bottom: 1px solid white;
}
 .gallery:hover{
	color: purple;
 }
 .card-deck{
 	margin-top: 20px;
 }
 .fab fa-instagram{
 	    font-size: 40px;
 	    color: white;
 }
  .fab fa-twitter{
 	    font-size: 40px;
 	    color: white;
 }
  .fab fa-facebook{
 	    font-size: 40px;
 	    color: white;
 }
 .card-text{
 	color: black;
 }