

body{
	background-image: url("images/log.jpg");
	/*background-position: center;*/
	background-size: cover; 
	color: white;
 }
 .bites{
 	margin-top: 30px;
 }
 .col-sm-4{
 	float: left;
 	margin-top: 30px;
 }
 .menu{
	color: white;
	border-bottom: 1px solid white;
 } 
 .menu:hover{
	color: purple;
 }
 .card-title{
	color: black;
 }
 .card-text{
	color: black;
 }
 .card-body{
	background-color: lavender;
	opacity: 50px;
 }
 .foot{
 	font-size: small;
 	color: white;
 	margin-top: 20px;
}
.fab fa-instagram{
 	    font-size: 40px;
 	    color: white;
 }
 .fab fa-twitter{
 	    font-size: 40px;
 	    color: white;
 }
  .fab fa-facebook{
 	    font-size: 40px;
 	    color: white;
 }
